@import "tailwindcss";

:root {
  --background: #F0F9FF; /* Sky 50 */
  --foreground: #1E3A8A; /* Blue 900 */
  
  /* Brand Colors */
  --brand-blue: #0EA5E9;
  --brand-green: #4ADE80;
  --brand-orange: #FB923C;
  --brand-text: #1E3A8A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-blue: var(--brand-blue);
  --color-brand-green: var(--brand-green);
  --color-brand-orange: var(--brand-orange);
  --color-brand-text: var(--brand-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
