@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0F9FF; /* Sky 50 */
  --foreground: #1E3A8A; /* Blue 900 */
  
  /* Brand Colors */
  --brand-blue: #0EA5E9;
  --brand-green: #4ADE80;
  --brand-orange: #FB923C;
  --brand-text: #1E3A8A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
